<div class="row">
	<div class="col-xs-12">
		<div class="card" style="box-shadow: 1px 1px 4px #888888; height: auto;
								 overflow-y: auto;">
			<div class="card-header">
				<h1 class="card-title" style="text-align:center;">Scheduled Update</h1>
			</div>
			<div class="card-body collapse in">
				<div class="card-block">
					<div class="row">
						<table class="table table-striped table-bordered" style="width:100%; margin:auto;">
							<thead>
								<tr>
									<th>Firmware Version</th>
									<th>Model Number</th>
									<th>scheduled Time</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="firmware-list-body">

							</tbody>

						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>