<div class="row">
	<div class="col-xs-12" style="padding:0.5rem;">
		<div class="card" style="box-shadow: 1px 1px 4px #888888; height: auto;
								 overflow-y: auto;">
			<div class="card-header">
				<h1 class="card-title" style="text-align:center;">Firmware Update</h1>
			</div>
			<div class="card-body collapse in">
				<div class="card-block" style="padding:0.5rem;">
					<div class="row">
						<div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
							<div *ngIf="error" class="error">
								<p>{{ errorMsg }}</p>
							</div>
							<form #adminfwCreate="ngForm" id="sw-create-form" (ngSubmit)="onSubmit()">
								<div id="error" class="error" style="display: none;">
									<p id="error-text"></p>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="projectinput1">Firmware version</label>
									<div class="col-md-9">
										<input type="text" id="firmwareVersion" class="form-control" placeholder="Firmware version" name="firmwareVersion" [(ngModel)]="firmwareVersion" required>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="projectinput1">Model Number</label>
									<div class="col-md-9">
										<input type="text" id="modelNumber" class="form-control" placeholder="Model Number" name="modelNumber" [(ngModel)]="modelNumber" required>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="projectinput1">Pcode</label>
									<div class="col-md-9">
										<input type="text" id="pcode" class="form-control" placeholder="pcode" name="pcode" [(ngModel)]="pcode" required>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="projectinput1">Browse Image</label>
									<div class="col-md-9">
										<input type="file" id="upfile" class="form-control" name="upfile" style="height:auto !important;" required  (change)="handleFileInput($event.target.files)">
									</div>
								</div>
								<button [disabled]="!adminfwCreate.form.valid" class="btn btn-md btn-primary" type="submit">Submit</button>
							</form>

						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>